body {
    background-image: url('../img/background.jpeg');
}

.navbar-header a{
    color: white;
    font-family: 'Sansita', Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
.navbar-header img{
    display:inline;
    width: 3rem;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    border: none;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    text-decoration-line: underline;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}
/* footer */
.footer_scanfcode {
  background-color:#fff;
  padding:1% 4%;
  box-shadow:0px 1px 4px 1px #ccc;
  font-family: Roboto,Arial,sans-serif;
}

.footer_scanfcode h6
{
  padding: 0 7px;
  line-height:23px;
  font-size: 13px;
   font-weight:500;
  color: #565656;
}
.links_flipkart_footer
{
  display: block;
  font-weight: 400;
  font-size: 11px;
  /* border-bottom: 1px solid #e4e4e4; */
  padding:0px 7px;
  color: #565656; 
  line-height:17px;
}
.links_flipkart_footer:last-child {
    border-bottom: 0;
}

.flip_image
{
  background-image: url("https://img1a.flixcart.com/www/prod/images/social-sprite-new-a01ff2d2.png");
  background-position: -326px -46px;
  width: 130px;
  height: 65px;
}

.row_cnt_sc
{
  font-weight: 500;
  border-top: 1px solid #e4e4e4;
  color: #565656;
  font-weight: 300;
  line-height: 31px;
  font-size:12px;
  margin:0px 7px;
}
.row_cnt_sc a
{
 padding: 0 5px;
 border-right: 1px solid #878787;
 color: #565656;
}
.row_cnt_sc a:hover
{
  text-decoration:none;
}
.icons_sc
{
  float:right;
}
.icons_sc .fa
{
  color:#fff;
  background-color:#565656;
  border-radius:100%;
  padding:5px 8px;
  margin:0px 5px;
}